# Ignore all compiled Python files
*.py[cod]

bowser/settings.pyc

bowser_db


initial_data/initial_course_fixture.json

courses/migrations/0001_initial.pyc

bowser_db

courses/migrations/0001_initial.py

courses/tests.py

courses/models.py

courses/tests.pyc

initial_data/course_dists_parse.py

courses/models.py

courses/tests.py

courses/tests.pyc

initial_data/course_dists_parse.py
