container_commands:
  collectstatic:
    command: "python manage.py collectstatic --noinput"
  01_syncdb:
    command: "python manage.py syncdb --noinput"
    leader_only: true
  02_migrate:
    command: "python manage.py migrate"
    leader_only: true
  03_collectstatic:
    command: "python manage.py collectstatic --noinput"
  04_migrate_courses:
    command: "python manage.py migrate courses --noinput"
    leader_only: true
  99customize:
    command: "scripts/customize.sh"

# You can specify any key-value pairs in the aws:elasticbeanstalk:application:environment namespace and it will be 
# passed in as environment variables on your EC2 instances
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "bowser.settings"
    "application_stage": "staging"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: bowser/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"
