#allcontent {
background-color: #10267A; /* Wellesley blue */
text-align: left;
font-family: Verdana, Sans-serif;
}

.navbar-brand {
font-size: 35px;
}

.pagecontent {
background-color: #EFEFEF; /*bootstrap grey*/
padding: 10px;
padding-left: 20px;
min-height: 1000px;
}

#footer {
background-color: #10267A; /* Wellesley blue */
text-align: center;
color: #FFFFFF;
font-size: 10px;
padding-top: 5px;
padding-bottom: 5px;
height: 25px;
}

.btn-group {
padding-right: 5px
}

.rounded_div{
border-radius: 10px;
}

.paragraphtextinput{
border-radius: 4px;
border-color: #CCCCCC;
border-style: solid;
border-width: 1px;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}


