
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/genericstyling.css">
      <link rel="stylesheet" type="text/css" href="/static/css/about.css" >

    
    
    
	<title>  About Bowser  </title>
	
</head>

<body>

<div id="allcontent">

        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">B O W S E R</a>
            </div>
            <!-- TODO: Add actual links to the nav bar! -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="#">Scheduler</a><li>
                  <li><a href="#">Checklist</a><li>
                    <li><a href="#">My Courses</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="profile.html">Profile</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="/courses/logout">Logout</a></li>
                    {% else %}
                    <li><a href="/courses/login">Login</a><li>
                      {% endif %}
                    </ul>
                  </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
              </nav> 

<div class="pagecontent">


<div id="features_heading"><h2> BOWSER was created by </h2> </div>
<br>

<div id=creator_profiles>
      <div class="row">
        <div class="col-sm-4">
          <h2>Lilian Xie '16 </h2>
          <h4> BOWSER Creator <br> Back-End Development</h4>
          <h5>lxie@wellesley.edu</h5>
        </div>
        
        <div class="col-sm-4">
          <h2>Sravanti Tekumalla '16</h2>
          <h4> Back-End Development <br> Front-End Development</h4>
          <h5>stekumal@wellesley.edu</h5>
          </div>
        
        <div class="col-sm-4">
          <h2> Leigh Morrison '15</h2>
          <h4>Site Design <br> Front-End Devlelopment</h4>
          <h5> lmorriso@wellesley.edu</h5>
          </div>
      </div><!-- /.row -->
</div>
</div> <!--/creator_profiles-->

</div> <!--/pagecontent-->
    
</div> <!--/allcontent-->





<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="../static/bootstrap-3.2.0-dist/js/bootstrap.js"></script>
</body>
</html>
