{% extends 'courses/base.html' %}
{% block cssstyle %}
<link rel="stylesheet" type="text/css" href="/static/css/about.css" >
{% endblock %}
{% block jsfile %}
{% endblock %}
{% block title%} About Bowser {% endblock %}
{% block content %}
<div id="features_heading"><h2> BOWSER was created by </h2> </div>
<br>

<div id=creator_profiles>
      <div class="row">
        <div class="col-sm-4">
          <h2>Lilian Xie '16 </h2>
          <h4> BOWSER Creator <br> Back-End Development</h4>
          <h5>lxie@wellesley.edu</h5>
        </div>
        
        <div class="col-sm-4">
          <h2>Sravanti Tekumalla '16</h2>
          <h4> Back-End Development <br> Front-End Development</h4>
          <h5>stekumal@wellesley.edu</h5>
          </div>
        
        <div class="col-sm-4">
          <h2> Leigh Morrison '15</h2>
          <h4>Site Design <br> Front-End Devlelopment</h4>
          <h5> lmorriso@wellesley.edu</h5>
          </div>
      </div><!-- /.row -->
</div>
</div> <!--/creator_profiles-->
{% endblock %}

