{% extends 'courses/base.html' %}
{% block cssstyle %}
<link rel="stylesheet" type="text/css" href="/static/css/about.css" >
{% endblock %}
{% block jsfile %}
{% endblock %}
{% block title%} About Bowser {% endblock %}
{% block content %}
<div id="features_heading"><h2> BOWSER was created in 2014 by </h2> </div>
<br>

<div id=creator_profiles>
      <div class="row">
        <div class="col-sm-4">
          <img style="display:block; margin-left:auto; margin-right:auto;" src="/static/images/lily.png" height="200" width="200">
          <h2 style="text-align:center;">Lilian Xie '16 </h2>
          <h4 style="text-align:center;"> BOWSER Creator <br> Back-End Development</h4>
          <h5 style="text-align:center;">
            <a href="http://www.lilianxie.com/">Website</a> | <a href="mailto:lxie@wellesley.edu">Email</a></h5>
        </div>
        
        <div class="col-sm-4">
          <img style="display:block; margin-left:auto; margin-right:auto;" src="/static/images/sravanti.png" height="200" width="200">
          <h2 style="text-align:center;">Sravanti Tekumalla '16</h2>
          <h4 style="text-align:center;"> Back-End Development <br> Front-End Development</h4>
          <h5 style="text-align:center;">
            <a href="http://www.sravantitekumalla.com/">Website</a> | <a href="mailto:stekumal@wellesley.edu">Email</a></h5>
          </div>
        
        <div class="col-sm-4">
          <img style="display:block; margin-left:auto; margin-right:auto;" src="/static/images/leigh.png" height="200" width="200">
          <h2 style="text-align:center;"> Leigh Morrison '15</h2>
          <h4 style="text-align:center;">Site Design <br> Front-End Devlelopment</h4>
          <h5 style="text-align:center;"> 
            <a href="mailto:lmorriso@wellesley.edu">Email</a></h5>
          </div>
      </div><!-- /.row -->
</div>
</div> <!--/creator_profiles-->
{% endblock %}

