{% extends 'courses/base.html' %}
{% block cssstyle %}
    <link rel="stylesheet" type="text/css" href="/static/css/indexstyle.css" >
	<link rel='stylesheet' href='/static/fullcalendar/fullcalendar.css' />
{% endblock %}
{% block jsfile %}
	<script src="/static/fullcalendar/lib/moment.min.js"></script>
	<script src="/static/fullcalendar/fullcalendar.js"></script>

	<script type="text/javascript"> 

	$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        header: {
        	left: 'prev,next today',
        	center: 'title',
        	right: 'month,agendaWeek,agendaDay'
        },
        defaultDate:'2014-10-11',
        defaultView: 'agendaWeek',
        editable: true,
        firstDay:1, //monday
        weekends:false,
        events: [{
        	id:999,
        	title: 'some event',
        	start: '2014-10-06T10:30:00',
        	end:'2014-10-06T12:30:00'
        }]

    });
});
	</script>
{% endblock %}

{% block title %} Bowser Home {% endblock %}
{% block content %}	

<div id="calendar"></div>
<div class="container">
<div class="col-md-6" id="course_selection">
	<br><br>

	



	<form id="browser_form" class="form-inline" method="post" action="/courses/browser/" enctype="multipart/form-data">
   {% csrf_token %}

	{{ browser_form.as_p }}

  {{ sections }}

 <input type="submit" class="btn btn-primary btn-success"></input>
</form>


</div>
<div class="col-md-6" id="schedule">

</div>
</div>
{% endblock %}

