{% extends 'courses/base.html' %}
{% block cssstyle %}
    <link rel="stylesheet" type="text/css" href="/static/css/indexstyle.css" >
{% endblock %}
	<link rel='stylesheet' href='/static/fullcalendar/fullcalendar.css' />
	<script src="/static/fullcalendar/lib/moment.min.js"></script>
	<script src="/static/fullcalendar/fullcalendar.js"></script>
	<script type="text/javascript"> 
	$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        // put your options and callbacks here
		weekends: false,
		defaultView: 'agendaWeek'
    })

});
	</script>
{% block title %} Bowser Home {% endblock %}
{% block content %}	
<div class="container">
<div class="col-md-6" id="course_selection">
	<br><br>



	<form id="browser_form" class="form-inline" method="post" action="/courses/browser/" enctype="multipart/form-data">
   {% csrf_token %}

	{{ browser_form.as_p }}

  {{ sections }}

 <input type="submit" class="btn btn-primary btn-success"></input>
</form>


</div>
<div class="col-md-6" id="schedule">
<div id="calendar"></div>
</div>
</div>
{% endblock %}

