{% extends 'courses/base.html' %}
{% block cssstyle %}
  <link rel="stylesheet" type="text/css" href="/static/css/checkliststyle.css" >
{% endblock %}
{% block jsfile %}
<script src="/static/scripts/checklist.js" type="text/javascript"></script>
{% endblock %}
{% block title %} My Checklist {% endblock %}
{% block content %}
	<h4> Use this page to see which distribution requirements you've filled already and which ones you have yet to fill. </h4>
<!-- start progress bars -->
<h5> Your distribution progress: {{ dists_completed|length }} out of 16 </h5>
<div class="progress" >
<!-- if student has completed more than 50% of distributions -->
	{% if percentage  > 60 %}
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="16" style="width:{{ percentage }}%">
    <span class="sr-only">40% Complete (success)</span>
	</div>
<!-- if student has completed between 25% and 50% of distributions -->
	{% elif  percentage > 40 %}
    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="16" style="width:{{ percentage }}%">
    <span class="sr-only">60% Complete (warning)</span>
  </div>
	{% elif percentage >= 0 %}
<!-- if student has completed less than 25% of distributions -->
<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="16" style="width:{{ percentage }}%">
    <span class="sr-only">20% Complete</span>
  </div>
	{% endif %}
</div>
<!-- end progress bars -->
<!-- start checklist -->
<div class="container">
<div class="row">
<!-- left div -->
	<div class="col-md-6" id="incomplete_dists">
                <h2> Distributions to be completed:</h2>
                {% for dist, course in incomplete_dists%}
                <span class="rc-title"> {{ dist }} </span>
                <a id="{{forloop.counter}}">+</a>
      <div class="incomplete_dist" id="{{forloop.counter}}div">
					<span class="recommended_course">Recommended courses:
					<ul> 
					{% for course in  dist.suggested_courses %}
					<li> {{ course.code }} | {{course.title}} </li>
					{% endfor %}
					</ul>
					 </span>
                </div><br><br> <!-- end added_course_with_review -->
                {% endfor %}
	</div>
	<div class="col-md-6" id="completed_dists">
				<h2> Distributions completed: </h2>
				{% for dist, course in dists_completed %}
				<div class="completed_dist">
					<span class="com_title">{{ dist }}</span><br>
					<h4>{{course}}</h4>
				</div>
				{% endfor %}
	</div> 
	</div> <!-- end row div -->
	</div> <!-- end container div -->
{% endblock %}
