{% extends 'courses/base.html' %}
{% block cssstyle %}
  <link rel="stylesheet" type="text/css" href="/static/css/checkliststyle.css" >
{% endblock %}
{% block jsfile %}
  <script src="/static/scripts/checklist.js" type="text/javascript"></script>
{% endblock %}
{% block title %}Edit Profile {% endblock %}
{% block content %}
                <!-- start profile -->
                <div class="container">
                  <div class="row">
                    <!-- left div -->
                    <div class="col-md-6" id="incomplete_dists">

                      <form class="form-inline" id="edit_profile_form" method="post" action="/courses/">

                        {% csrf_token %}
    {{ user_form.non_field_errors }}

                      <h5> Username: {{ username }} </h5>

                      <h5> Class Year: {{ classyear }} </h5>
                      <h5> Primary Major: {{ primarymajor }} </h5>
                      <h5> Secondary Major: {{ secondarymajor }} </h5>
                      
                    </div>
                    <div class="col-md-6" id="completed_dists">
                      <h5> GPA: {{ gpa }} </h5>
                      <h5> Basic QR Fulfilled: {{ qrb }} </h5>
                      <h5> Foreign Language Requirement Fulfilled: {{ foreignlang }} </h5>
                      <h5> Multicultural Requirement Fulfilled: {{ multi }} </h5>
                    </div>

                  </form>

                  </div> 
                </div> <!-- end row div -->
              </div> <!-- end container div -->
{% endblock %}
