{% extends 'courses/base.html' %}
{% block cssstyle %}
    <link rel="stylesheet" type="text/css" href="/static/css/indexstyle.css" >
{% endblock %}
{% block title %} Bowser Home {%endblock %}
{% block content %}
    <div class="jumbotron">
  		<h1>Welcome to Bowser! </h1>
  		
  		<p> Bowser is a course selection tool for Wellesley students.<br>
        Create your own profile to keep track of graduation requirements.<br>
        Engage in a community for course and professor reviews.
        <br>
Unfortunately, we can't make your Wellesley degree easier,<br>but we can make it easier to plan.<br><br>
We can all snap to that.</p>

<!--TO DO: add links to the buttons-->
	<br>
  	<p><a class="btn btn-primary btn-lg" id="one" role="button" href="/courses/checklist">Check Degree Progress</a>
    <a class="btn btn-primary btn-lg" role="button" href="/courses/reviews">Read Reviews</a>
  	<a class="btn btn-primary btn-lg" id="two" role="button" href="courses/mycourses">Add Previous Courses</a>
  	
	</div>
	
	
    </div> <!--/allcontent-->
{% endblock %}        

