{% extends 'courses/base.html' %}
{% block cssstyle %}

    <link rel="stylesheet" type="text/css" href="/static/css/indexstyle.css" >
{% endblock %}
{% block title %} Bowser Home {%endblock %}
{% block content %}
    <div class="jumbotron">
  		<h1>Welcome to Bowser! </h1>
  		
  		<p> Bowser is the best way to plan your next semester at Wellesley.<br>
          Use it to create your own profile, track your graduation requirements, and engage in a community of past and present students by reading and writing course reviews.  
        <br><br>
We can't make your Wellesley degree easier,<br>but we can make it easier to plan.<br><br>
We can all snap to that.</p>

<!--TO DO: add links to the buttons-->
	<br>
  	<p><a class="btn btn-primary btn-lg" id="one" role="button" href="/courses/checklist">Check Degree Progress</a>
    <a class="btn btn-primary btn-lg" role="button" href="/courses/reviews">Read Reviews</a>
  	<a class="btn btn-primary btn-lg" id="two" role="button" href="courses/mycourses">Add Previous Courses</a>
  	
	</div>
	
	
    </div> <!--/allcontent-->
{% endblock %}        

