{% extends 'courses/base.html' %}
{% block cssstyle %}
    <link rel="stylesheet" type="text/css" href="/static/css/indexstyle.css" >
{% endblock %}
{% block title %} Bowser Home {%endblock %}
{% block content %}
    <div class="jumbotron">
  		<h1>Welcome to Bowser! </h1>
  		
  		<p> Bowser is designed to serve as a one-stop course-scheduling 
        source for Wellesley students.  Use it to read and write reviews of courses, 
        track status of graduation requirements, browse Wellesley course listings for 
        upcoming semesters, and explore schedule options with a dynamic calendar. </p>

<!--TO DO: add links to the buttons-->
	<br>
  	<p><a class="btn btn-primary btn-lg" id="one" role="button">Create a Schedule</a>
  	<a class="btn btn-primary btn-lg" id="two" role="button">Check Degree Progress</a>
  	<a class="btn btn-primary btn-lg" role="button">Add Previous Courses</a>
	</div>
	
	
    </div> <!--/allcontent-->
{% endblock %}        

