
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link rel="icon" href="../../favicon.ico">
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/bootstrap-3.2.0-dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/genericstyling.css">
    <link rel="stylesheet" type="text/css" href="/static/css/landingstyle.css" >
    
    
    <!--Bootstrap core css-->
    
   
    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">


    <script src="static/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
	<title>Welcome to Bowser!</title>
	
</head>

<body>

<div class="green_background">

 <div id="top_banner">
<!-- <span id="welcome"> Welcome to </span> -->
 	<div id="bowser_title"> B O W S E R 
 		<div id="description">
 		&mdash;Wellesley's <strong>one-stop</strong> source for course browsing</div></div> 
 </div>
 
 <div class="green_background">
 
 <div id="Login_or_create_box">
 <br>
 <a class="btn btn-primary btn-lg login" href="#login_form" role="button">Sign In</a>
 <br> <br> &mdash;OR&mdash;
 <br> <br>
 <a class="btn btn-primary btn-lg create" href="#create_account_form" role="button">Create an Account</a>
 </div>
 </div> 
 <div id="features" class="container-fluid">

<div id="features_heading"><h2> Use Bowser to... </h2> </div>
<br>

      <div class="row">
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-comment"></span>
          <h3>Write Reviews for Classes</h3>
          <p> yada yada yoooooooo</p>
        </div>
        
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-calendar"></span>
          <h3>Track Degree Progress</h3>
          <p> mzmzmzmmzzm </p>
          </div>
        
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-heart-empty"></span>
          <h3>Read Reviews from Other Students</h3>
          <p> Log your past courses and easily view your completion of major, minor and 
          distribution requirements. Still need to cover your QR overlay?  No worries--Bowser
          can provide a list of all the possible courses that fill the requirement.  Don't
          be that kid who suddenly realizes senior spring your classes only add up to 31.5 units.
          </div>
      </div>
 </div> 


<div id="center_content">
 
 <!--Login form-->
 <div id="login_form">
 <form class="form-signin" id="user_form" method="post" action="/courses/login/">
		{% csrf_token %}
		{{ user_form.non_field_errors }}
        <h2 class="form-signin-heading">Please sign in</h2>
        <!--<a href="#create_account_form"><span class="create_account">Don't have an account?  Create one!</span></a> -->
       <br> 
        <br>
			{{ login_error }}
        <div class="input-group">
  			<input class="form-control" name="username" placeholder="Email"> 
  			<span class="input-group-addon">@wellesley.edu</span>
		</div>

		<input type="password" class="form-control" name="password" placeholder="Password" required>
       <!-- <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
          <br> 
        </div> -->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
      </form>
 </div>
      
<!--Create account form-->
 <div id="create_account_form">
 <form class="form-signin" action="/courses/register/" method="post" id="register_form" role="form">
        <h2 class="form-signin-heading">Create an account</h2>
		{% csrf_token %}
<!--        <a href="#login_form"><span class="create_account">Already have an account?  Log in here!</span></a> -->
        <br><br>
          <div class="input-group">
  			<input name="username" class="form-control" placeholder="Email">
  			<span class="input-group-addon">@wellesley.edu</span>
		</div>
		{{ errors }}
        <br><input type="password" name="password" class="form-control" placeholder="Create a Password">
		<br><input type="password" name="password_repeat" class="form-control" placeholder="Verify Password">

        <button class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>
      </form>
 </div>
    
    </div> <!--/center_content-->
    
    
     <!--~~~~~~~~~~~~~~ FEATURES-->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="/static/bootstrap-3.2.0-dist/js/bootstrap.js"></script>

  </body>
</html>
