
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/genericstyling.css">
    <link rel="stylesheet" type="text/css" href="/static/css/mycoursesstyle.css" >
	<script src="/static/scripts/courses.js"></script>
	<title>My Courses</title>
	
</head>

<body>

<div id="allcontent">

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">B O W S E R</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
	<!-- TODO: Add actual links to the nav bar! -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
		<li><a href="#">Scheduler</a><li>
		<li><a href="#">Checklist</a><li>
		<li><a href="#">My Courses</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
		<li class="active"><a href="profile.html">Profile</a></li>
		{% if user.is_authenticated %}
		<li><a href="/courses/logout">Logout</a></li>
		{% else %}
		<li><a href="/courses/login">Login</a><li>
		{% endif %}
     </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav> 

 <div class="pagecontent">
 
 <h4> Use this page to log and enter optional reviews for past courses. </h4>
 
 <!--~~~~~~~~~~~~~~~~~~~~~Enter a New Course Box-->
 
 		<div id="new_course_entry" class="rounded_div">
 
 		<h4> Enter a New Course </h4>
	<form id="add_course_form" class="form-inline" method="post" action"/courses/add_course/"
		enctype="multipart/form-data">
	{% csrf_token %}
	{{ add_course_form.code }}
		
 	        <h4>Enter a Review</h4>
 <div class="alert alert-warning alert-dismissible" role="alert">
  <strong>Please Note:</strong> It is <em>against the Honor Code</em> to discuss 
 a professor's grading in this setting.  It is acceptable to reference the difficulty of 
 coursework, but please refrain from any discussion regarding an instructor being a 
 "hard" or "easy" grader, etc.</div> 
   			<div class="ratings"> Rate course content:
		{{ add_course_rating_form.score }} <br>
			</div>
				
			<div class="ratings">Professor:
				{{ add_course_rating_form.comment_professor }} <br>
				</div>
        	<br>
    
        	<p> Enter additional comments about course content, workload, teaching style, 
        	quality of instruction, instructor availability outside of class, etc. 
        	Would you recommend this course to others with similar reasons for enrolling? 
        	Please be as specific as possible to best help other students. <br>
				{{ add_course_rating_form.comment_text }} <br>			
        <!--	
				<textarea id="comments" rows="4" cols="83" placeholder="Enter comments..."
				name="comment" class="paragraphtextinput" form="usrform"></textarea> -->
				
				<input href="/courses/add_course" type="submit" class="btn btn-primary btn-success add_review_submit"> 
				</input> 
			<div id="add-course-successful"></div>
       </form> 	
        <!--	<a class="btn btn-primary btn-lg" id="greensubmit"
        	role="button">Submit and add to My Courses</a> -->
 </div> <!--/new-course-entry-->
 

 
  
 <!--~~~~~~~~~~~~~~~~~~~~~My courses-->
 
 <div id="my_courses">

 <h2> My Courses </h2>
 	<!--~~~~~~~~~~~~~~~~~~~~~This is the appearance for a student's course WITH a review added-->
	{% for course in courses %}
	 	<div class="added_course_with_review">
 	<span class="course_title">{{course.code}} | {{ course.title }} </span>
 	
 	<!--Show Review toggle button-->
 		<br> <a href="#"><span class="show_review_toggle">+Show/Hide Review</span></a>
 	
 	<!--~~~~~~~~~~~~~~~~~~~~~Toggle to show/hide course review-->
 	
 	<div class="show_hide_entered_review_toggle">
 	<br>Fills distributions: <span class="entered_instructor">
		{% for dist in course.dists.all %}
			{{dist}}; 
		{% endfor %} </span> <br>
 	Credit hours: <span class="entered_reason">	{{ course.credit_hours }}</span>
	{% for review in reviews.all %}
	{% if review.comment_course.title == course.title %}
	{% with review as course_review %}
	<br><br><span class="course_title"> Course review: </span>
 	<br>Course Content: <span class="entered_course_stars">	
			{{ course_review.score }}
</span>
	<br>Quality of Instruction: <span class="entered_instruction_stars"></span>
 	<br>Comments: <br><span class="entered_comments">
			{{ course_review.comment_text }}
		{% endwith %}
		{% endif %}
		{% endfor %}

	</span>
 		 	<!--Edit and Delete Review Buttons-->
 	<br>
 	<br>
	
 	<div class="btn-group" id="edit_and_delete_buttons">
 	
 	<a href="#" class="btn btn-xs btn-default edit_review_submit">
 	<span class="glyphicon glyphicon-pencil"></span> Edit </a>
 	
 	<a href="#" class="btn btn-xs btn-default">
 	<span class="glyphicon glyphicon-remove"></span> Delete Review</a>
 	
 	<a href="#" class="btn btn-xs btn-default edit_review_submit">
 	<span class="glyphicon glyphicon-trash"></span> Remove Course </a>
 	
 	</div> <!--/btn-group-->
 	
 	</div> <!--/show_hide_entered_review_toggle-->
 	
 	
 	</div> <!--/added_course_with_review-->
	<!-- if there are no courses for a student yet -->
	{% empty %}
	<h2> Looks like you haven't added any courses yet! <br>
		Add courses and course reviews in <br>
		the box to your right. </h2>
{% endfor %}	

 	
 	
 </div> <!--/my_courses-->


</div> <!--/pagecontent-->
    
</div> <!--/allcontent-->





<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="/static/bootstrap-3.2.0-dist/js/bootstrap.js"></script>
</body>
</html>
