{% extends 'courses/base.html' %}
{% block cssstyle %}
  <link rel="stylesheet" type="text/css" href="/static/css/profile.css" >
{% endblock %}
{% block title %} Profile {% endblock %}
{% block content %}
     <!-- start profile -->
                <div class="container">
                  <div class="row">
                    <!-- left div -->
                    <div class="col-md-6" id="incomplete_dists">

                      <a href="#" id="username" data-pk={{userpk}} data-type="text" data-url="/post" data-title="Enter username">{{username}}</a>
 <br> <br>


<form id="profile_form" class="form-horizontal" method="post">
<!-- Form Name -->
<legend>My Bowser Profile</legend>
{% csrf_token %}
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label">Username</label>  
  <div class="col-md-4">
<!--  <input id="user-name" name="username" type="text" placeholder="{{ username }}" class="form-control input-md"> -->
   {{ username }} 
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label">Class Year</label>
  <div class="col-md-4">
	{{ profile_form.class_year }}
  </div>
</div>


<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label">GPA</label>  
  <div class="col-md-4">
   {{ profile_form.gpa }} 
  </div>
</div>
<br>
<br>
<p>Please select whether or not you have fulfilled each requirement listed:
<br>
<br>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label">Completed Basic QR Requirement?</label>
  <div class="col-md-4">
	{{ profile_form.qrb_passed }} 
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label">Foreign Language Requirement?</label>
  <div class="col-md-4">
	{{ profile_form.foreign_lang_passed }}
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label">Multicultural Requirement?</label>
  <div class="col-md-4">
	{{ profile_form.multi_passed }}
  </div>
</div>

<br>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
    <button id="save_and_update_button" type="submit" class="btn btn-success">Save &amp; Update Profile</button>
  </div>
</div>

</form>

                

                  </div> 
                </div> <!-- end row div -->
              </div> <!-- end container div -->
              

              
              
            </div> <!-- end pagecontent -->
{% endblock %}            

