{% extends 'courses/base.html' %}
{% block cssstyle %}
    <link rel="stylesheet" type="text/css" href="/static/css/indexstyle.css" >
	<link rel='stylesheet' href='/static/fullcalendar/fullcalendar.css' />
{% endblock %}
{% block jsfile %}
	<script src="/static/fullcalendar/lib/moment.min.js"></script>
	<script src="/static/fullcalendar/fullcalendar.js"></script>
	<script type="text/javascript"> 
	$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        // put your options and callbacks here
		weekends: false,
		defaultView: 'agendaWeek'
    })

});
	</script>
{% endblock %}
{% block title %}Bowser Home {% endblock %}
{% block content %}
<div class="container">
<div class="col-md-6" id="course_selection">
	<br><br>



	<form id="section_form" class="form-inline" method="post" action="/courses/myschedule/" enctype="multipart/form-data">
   {% csrf_token %}
	{{ section_form.as_p }} 

 <input type="submit" class="btn btn-primary btn-success add_review_submit"></input>
</form>



{% if conflicts %}
<h1> Conflicts:  {{ conflicts }}  </h1>
{% endif %}
</div>
<div class="col-md-6" id="schedule">
<div id="calendar"></div>
</div>
</div>
{% endblock %}

