{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/genericstyling.css">
    <link rel="stylesheet" type="text/css" href="/static/css/indexstyle.css" >
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel='stylesheet' href='/static/fullcalendar/fullcalendar.css' />
	<script src="/static/fullcalendar/lib/moment.min.js"></script>
	<script src="/static/fullcalendar/fullcalendar.js"></script>
	<script type="text/javascript"> 
	$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        // put your options and callbacks here
		weekends: false,
		defaultView: 'agendaWeek'
    })

});
	</script>
	<title>Bowser Home</title>
	
</head>

<body>

<div id="allcontent">

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">B O W S E R</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
	<!-- TODO: Add actual links to the nav bar! -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
		<li><a href="#">Scheduler</a><li>
		<li><a href="#">Checklist</a><li>
		<li><a href="/courses/mycourses">My Courses</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
		<li class="active"><a href="profile.html">Profile</a></li>
		{% if user.is_authenticated %}
      	<li><a href="/courses/logout">Log out</a></li>
      	{% else %}
      	<li><a href="/courses/login">Log in</a></li>
      	{% endif %}
     </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav> 


    <div class="pagecontent">
<div class="container">
<div class="col-md-6" id="course_selection">
	<br><br>
	<form id="section_form" class="form-inline" method="post" action="/courses/myschedule/" enctype="multipart/form-data">
   {% csrf_token %}
	{{ section_form.as_p }} 
<input type="submit" class="btn btn-primary btn-success add_review_submit"></input>
</form>
{% if conflicts %}
<h1> Conflicts:  {{ conflicts }}  </h1>
{% endif %}
</div>
<div class="col-md-6" id="schedule">
<div id="calendar"></div>
</div>
</div>
    </div> <!--/pagecontent-->
    <div id="footer">
	
	<p> Bowser
	
	</div>

   


<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	

</div>
</body>
</html>


