
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/bootstrap-3.2.0-dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/genericstyling.css">
    <link rel="stylesheet" type="text/css" href="/static/css/scheduler.css" >
    
    <title> BOWSER Scheduler </title>
    
    <link rel="stylesheet" type="text/css" href="https://www.apptic.me/projects/calendar/pretty-calendar-minified.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://www.apptic.me/projects/calendar/pretty-calendar-minified.js"></script>

</head>

<body>



	

<div id="allcontent">

<div class="pagecontent">

<div id="browser">

<p>
<h3>Course Browser</h3>	</p>



<form class="form-inline">
<fieldset>


<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="semester_input">Semester</label>
  <br>
  <div class="col-md-4">
    <select id="semester_input" name="semester_input" class="form-control">
      <option value="1">Fall 2014</option>
      <option value="2">Wintersession 2015</option>
      <option value="3">Spring 2015</option>
    </select>
  </div>
  <br>
  <br>
    <label class="col-md-4 control-label" for="searchinput">Keywords:</label>
  <br>
  <div class="col-md-5">
    <input id="searchinput" name="searchinput" type="search" placeholder="" class="form-control input-md">
    
  </div>
</div>


<!-- Select Multiple -->
<div class="form-group">
  <label class="col-md-4 control-label" for="department_or_subject">Department/Subject</label>
  <br>
  <div class="col-md-4">
    <select id="department_or_subject" name="department_or_subject" class="form-control" multiple="multiple">
      <option value="1">All Subjects</option>
      <option value="2">Africana Studies</option>
      <option value="">American Studies</option>
      <option value="">Anthropology</option>
      <option value="">Arabic</option>
    </select>
  </div>
</div>

<!-- Select Multiple -->
<div class="form-group">
  <label class="col-md-4 control-label" for="distribution_or_category">Distribution/Category</label>
  <br>
  <div class="col-md-4">
    <select id="distribution_or_catergory" name="distribution_or_catergory" class="form-control" multiple="multiple">
      <option value="1">All Distributions</option>
      <option value="2">Arts, Music, Theater, Film, Video</option>
      <option value="">Epistemology &amp; Cognition</option>
      <option value="">Historical Studies</option>
      <option value="">Language &amp; Literature</option>
    </select>
  </div>
</div>



<!-- Button -->
<a href="#" id="search"class="btn btn-lg btn-primary">
<span class="glyphicon glyphicon-search"></span> Search</a>

</fieldset>
</form>

<br>
<ul>
<li>Click on a column title to sort</li>
<li>Click on a course title to see more info and read reviews</li>
<li>Check the box in the first column to add a course to your calendar</li>
</ul>




<table id="course_browser" class="table table-striped table-bordered">
<thead>
	<tr>
		<th>+</th>
		<th>CRN</th>
		<th>Course</th>
		<th>Title</th>
		<th>Seats Available</th>
		<th>Meeting Time(s)</th>			
		<th>Day(s)</th>
		<th>Instructor</th>
		<th>Distribution</th>
	</tr>
</thead>
<tbody>
<tr><td><input type="checkbox"></td>
	<td>00000</td>
	<td>WGST 108</td>
	<td><a>Social Construction of Gender</a></td>
	<td>0/25</td>
	<td>9:50am-11:00am</td>
	<td>M/TH</td>
	<td>Nancy Marshall</td>
	<td>cell is row 0, column 8</td>
</tr>
<tr><td><input type="checkbox"></td>
	<td>11111</td>
	<td>WRIT 225</td>
	<td><a>Creative Nonfiction</a></td>
	<td>3/15</td>
	<td>11:10am-12:20pm</td>
	<td>T/F</td>
	<td>Adam Fischer</td>
	<td>cell is row 1, column 8</td>
</tr>
<tr><td><input type="checkbox"></td>
	<td>22222</td>
	<td>ASTR 100</td>
	<td><a>Life in the Universe</a></td>
	<td>16/25</td>
	<td>1:30pm-2:40pm</td>
	<td>M/TH</td>
	<td>Wes Watters</td>
	<td>cell is row 2, column 8</td>
</tr>
<tr><td><input type="checkbox"></td>
	<td>33333</td>
	<td>PSYCH 207</td>
	<td><a>Developmental Psychology</a></td>
	<td>8/25</td>
	<td>1:30pm-4:00pm</td>
	<td>W</td>
	<td>Tracy Gleason</td>
	<td>cell is row 3, column 8</td>
</tr>
</tbody>
</table>

<div id="green"<p>'</p></div>
</div>



<!--COURSE INFO/RATINGS MODAL~~~~~~~~~~~~~~~~~~
<!--<div class="modal fade">-->
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">EN 223: 19th Century American Literature</h4>
      </div>
      <div class="modal-body">
<!--COURSE INFO/COURSE REVIEW TABS -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#course_info" role="tab" data-toggle="tab">Detailed Course Info</a></li>
  <li><a href="#reviews" role="tab" data-toggle="tab">Reviews</a></li>
</ul>

<!-- TAB CONTENTS -->
<div class="tab-content">
  <div class="tab-pane active" id="course_info">
  		<table class="table table-striped table-condensed">
  		<thead>  		</thead>
  		
  		<tbody>
  		<tr><td>CRN</td><td>19191</td></tr>
  		<tr><td>Title</td><td>19th Century American Literature</td></tr>
  		<tr><td>Credit Hours</td><td>1</td></tr>
  		<tr><td>Description</td><td>Introduction to the interdisciplinary field of women's and gender studies with an emphasis on an understanding of the "common differences" that both unite and divide women. Beginning with an examination of how womanhood has been represented in myths, ads, and popular culture, the course explores how gender inequalities have been both explained and critiqued. The cultural meaning given to gender as it intersects with race, class, ethnicity, and sexuality will be studied. This course also exposes some of the critiques made by women's studies' scholars of the traditional academic disciplines and the new intellectual terrain currently being mapped.</td></tr>
  		<tr><td>Seats Available</td><td>2</td></tr>
  		<tr><td>Max Enrollment</td><td>25</td></tr>
  		<tr><td>Permission of Instructor</td><td>By permission of instructor</td></tr>
  		<tr><td>Prerequisite(s)</td><td> Completion of first-year writing course </td></tr>
  		<tr><td>Distributions</td><td>Language & Literature</td></tr>
  		<tr><td>Additional Notes</td><td> None</td></tr>
  		<tr><td>Instructor(s)</td><td>Nancy Marshall</td></tr>
  		<tr><td>Meeting Times</td><td>T/F 11:10am-12:20pm</td></tr>
  		<tr><td>Location</td><td>Pendleton 109</td></tr>
  		</tbody>
  		</table>
  </div>
  <div class="tab-pane" id="reviews">
  <table class="table table-striped table-condensed review">
  <thead></thead>
  <tbody>
  	<tr><td><strong>Date</strong></td><td>8/12/14</td></tr>
  	<tr><td><strong>Instructor</strong></td><td>Nancy Marshall</td></tr>
  	<tr><td><strong>Reason for Enrolling</strong></td><td>Fulfill Major Requirement</td></tr>
  	<tr><td><strong>Course Content</strong></td><td>*****</td></tr>
  	<tr><td><strong>Instruction Quality</strong></td><td>*****</td></tr>
  	<tr><td><strong>Additional Comments</strong></td><td>
  	I loved this class! The assignments were engaging and challenging.  I found the work 
  	manageable and the course content very interesting. Professor Marshall is funny, 
  	knowledgeable and very available outside of class. Recommended to everyone! </td></tr>
  </tbody>
  </table>
  
  </div>
</div>
      </div>
<!--MODAL FOOTER-->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add Course to My Calendar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->










</div> <!--/pagecontent-->
    
</div> <!--/allcontent-->





<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="../static/bootstrap-3.2.0-dist/js/bootstrap.js"></script>
</body>
</html>
